@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

/* Global styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Rokkitt', 'sans-serif';
    height: 100vh;
    background: rgb(253, 250, 45);
    background: linear-gradient(0deg, rgba(253, 250, 45, 0.46011908181241246) 13%, rgba(34, 193, 195, 1) 87%);
}

/* Heading */
h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    color: aliceblue;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    color: blue;
    font-size: 1.4rem;
}

h3 {
    font-size: 1.1rem;
    color: darkblue;
}
h4{
    color: darkblue;
    font-size: 0.7rem;
    letter-spacing: 2px;
    font-weight: 800;
    padding: 5px;
    border-radius: 2%;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
}
/* header */
#header{
    height: 75px;
    text-align: center;
    padding-top: 30px;
}
/* info section */

.game-info {
    margin-top: 0.6rem;
}

/* score */
.score {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

table {
    font-size: 1.2rem;
    color: darkmagenta;
    border-radius: 2%;
    letter-spacing: 1.2px;
    font-weight: 600;
    padding: 0.3rem;
    box-shadow: 5px 5px 2px hsl(60, 2%, 12%);
    border: 1px solid black;
}

.score-th {
    padding: 0.6rem 2.2rem;
    background-color: bisque;
}

.score-val {
    padding: 0.6rem 2.2rem;
    background-color: aliceblue;
    color: black;
}

/* Reset button */
.reset-div {
    display: inline-flex;
    flex-direction: row;
    margin: 0 1.3rem;
}

#reset-btn {
    width: 10vh;
    height: 10vh;
    font-size: 2rem;
    background-color: burlywood;
    border-radius: 2%;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
}

#reset-btn:hover {
    background-color: chocolate;
    color: white;
}

/* control and game-area */
#game-area{
    margin-top: 30px;
}
.control-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.btn-control {
    width: 30vh;
    height: 7vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 4px;
    padding: 10px;
    margin: 0 20px;
    background-color: burlywood;
    border-radius: 2%;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
}

.btn-control:hover {
    background-color: chocolate;
    color: white;
}

/* Result message*/
#result-msg {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 4px;
    font-style: italic;
    font-weight: 900;
    color: darkred;
}

/* chose image area*/
.image-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.image-choice {
    background-color: aliceblue;
    margin: 0 1.5%;
    height: 28vh;
    width: 40vh;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
}
.image-choice img {
    width: 100%;
    height: 25vh;
    max-width: 40vh;
    object-fit: fill;
}

/* rules style */
#rule {
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
}

#rule span {
    font-size: 1.2rem;
    text-decoration: underline;
}

/* media query */
/* For small screens sizes from 420px wide and down */
@media screen and (max-width:480px) {
    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    .game-info {
        margin-top: 0.4rem;
    }
    .score {
        margin: 0 2rem;
    }

    .score-th {
        padding: 0.1rem 1.2rem;
    }

    .score-val {
        padding: 0.2rem 1.2rem;
    }

    /* Reset button */
    .reset-div {
        margin: 0 0.9rem;
    }

    #reset-btn {
        width: 6vh;
        height: 6vh;
        font-size: 1.5rem;
    }

    .btn-control {
        width: 20vh;
        height: 7vh;
        font-size: 0.6rem;
        letter-spacing: 2px;
        padding: 5px;
        margin: 0 5px;
    }

    /* Result message*/
    #result-msg {
        margin-top: 10px;
    }

    /* chose image area*/
    .image-area {
        margin-top: 20px;
    }


}